[submodule "hugo-elate-theme"]
	path = hugo-elate-theme
	url = https://github.com/saey55/hugo-elate-theme
	branch = master
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
	branch = master
[submodule "public"]
	path = public
	url = git@github.com:hansenbeast/hansenbeast.github.io.git
	branch = master
